:root {
  --primary-color: #0f933f;
  --secondary-color: #2952a0;
  --background: #ffffff;
  --foreground: #000000;
}

.text-primary {
  color: var(--primary-color) !important;
}
.background-primary {
  background-color: var(--primary-color) !important;
}
text-secondary {
  color: var(--secondary-color) !important;
}
.background-secondary {
  background-color: var(--secondary-color) !important;
}

.text-foreground {
  color: var(--foreground) !important;
}

.background-foreground {
  background-color: var(--foreground) !important;
}


body {
  background-color: var(--background);
  color: var(--foreground);
}
.navbar {
    background-color: var(--background) !important;
    color: var(--foreground) !important;   
}

.navbar-brand {
    font-weight: bold;
    cursor: pointer;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: var(--background)!important;
}
.footer {
  background-color: var(--primary-color);
  color: var(--background);
}
.hero-section {
  background-color: var(--background);
}
.card-title,
.footer-links a {
  color: var(--primary-color);
}
.footer-links a:hover {
  color: var(--secondary-color);
}
.footer-links,
.footer-copyright {
  color: var(--background);
}

a {
  text-decoration: none;
}

.list-group-item {
  background-color: var(--background);
  color: var(--foreground);
}
.list-group-item:hover {
  background-color: var(--primary-color);
  color: var(--background);
}


